.body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
}
ol, ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.products{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh;
    padding: 0 5vw 0 5vw;
}
.product{
    background: rgb(96,36,55);
    background: linear-gradient(122deg, rgba(96,36,55,1) 11%, rgba(185,55,94,1) 45%, rgba(255,194,212,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 2vh;
    font-size: larger;
    color: #ffffff
}


.price {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-small;
}
.our-price{
    font-size: small;
}
.price > *{
    margin-right: 10px;
    
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
}



input {
    padding : 10px;
    border-style: none;
    outline: none;
    border-radius: inherit;
    
}
form{
    border-color: #602437;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}





@media (min-width: 550px) {
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1008px) {
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}