

.navbar {
    height: 9vh;
    min-height: 40px;
    max-height: 500px;
    background-color: #f5f3f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0 10px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #0b090a;
    font-weight: 700;
    font-size: larger;
    letter-spacing: 3px;
/* 
    text-shadow: 1px 1px 2px #8d99ae, 2px 2px 6px #edf2f4; */

}

.carousal{
    height: 30vw;
    min-height: 200px;
    background-image: url("./mobile-shop.jpg");
    background-size: cover;
}
.card-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




.banner{
    font-family: 'Lily Script One', cursive;
    font-size: 5vh;
    color: #edf2f4;
    text-shadow: 1px 1px 2px #d90429, 2px 2px 6px #ef233c;
}

@media (min-width: 550px) {
    .banner{
        font-size: 9vh;
    }
}